body{
	font-family: 'Quicksand', sans-serif;
	font-size: 20px;
}

button{
	background: #ffc600;
	border: 0;
	padding: 10px 20px;
}

.title{
	background-color: rgb(179, 236, 255, 0.5);
	width: auto;
	height: auto;
	padding-left: 10px;
	padding-bottom: 20px;
	text-align: center
}

img{
	height:300px;
	width:450px;
}